<h1>Formulario de <span class="badge text-bg-warning --bs-warning-border-subtle fs-2">Propietarios</span></h1>
<br>
<form [formGroup]="FormularioPropietario" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombres">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Apellido</span>
        <input type="text" class="form-control" placeholder="Apellido" formControlName="apellidos">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">DNI</span>
        <input type="number" class="form-control" placeholder="DNI" formControlName="dni">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Teléfono</span>
        <input type="number" class="form-control" placeholder="Teléfono" formControlName="telefono">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="correo">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Departamento</span>
        <select class="form-select" formControlName="departamentoId" required>
            <option value="" disabled selected>Seleccione un departamento</option>
            <option *ngFor="let departamento of departamentosDisponibles" 
                    [value]="departamento.id">
                {{ departamento.numero }} - Piso {{ departamento.piso }} 
                ({{ departamento.edificio?.nombre || 'Sin edificio' }})
            </option>
        </select>
    </div>
    <br>
    <input type="submit" class="btn btn-info" value="Registrar Propietario">
</form>

<div class="apartamentos mt-4">
    <h2 class="badge text-bg-warning custom-border fs-3 mb-3">Lista de Propietarios</h2>
    <table class="table table-striped table-bordered table-hover" style="width: 100%;">
        <thead class="table-dark">
            <tr>
                <th scope="col">Código Propietario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Email</th>
                <th scope="col">Departamento</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Guardar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let propietario of propietarios; let i = index">
                <td>{{ propietario.id }}</td>
                <td>
                    <input *ngIf="isEditingRowProp(i)" [(ngModel)]="propietario.nombres" class="form-control" type="text" />
                    <span *ngIf="!isEditingRowProp(i)">{{ propietario.nombres }}</span>
                </td>
                <td>
                    <input *ngIf="isEditingRowProp(i)" [(ngModel)]="propietario.apellidos" class="form-control" type="text" />
                    <span *ngIf="!isEditingRowProp(i)">{{ propietario.apellidos }}</span>
                </td>
                <td>
                    <input *ngIf="isEditingRowProp(i)" [(ngModel)]="propietario.dni" class="form-control" type="number" />
                    <span *ngIf="!isEditingRowProp(i)">{{ propietario.dni }}</span>
                </td>
                <td>
                    <input *ngIf="isEditingRowProp(i)" [(ngModel)]="propietario.telefono" class="form-control" type="number" />
                    <span *ngIf="!isEditingRowProp(i)">{{ propietario.telefono }}</span>
                </td>
                <td>
                    <input *ngIf="isEditingRowProp(i)" [(ngModel)]="propietario.correo" class="form-control" type="email" />
                    <span *ngIf="!isEditingRowProp(i)">{{ propietario.correo }}</span>
                </td>
                <td>
                    <span *ngIf="!isEditingRowProp(i)">
                      {{ getDepartamentoInfo(propietario) }}
                    </span>
                    <select *ngIf="isEditingRowProp(i)" 
                            [(ngModel)]="propietario.departamentoId" 
                            class="form-control">
                      <option *ngFor="let departamento of departamentosDisponibles" 
                              [value]="departamento.id">
                        {{ departamento.numero }} ({{ departamento.edificio?.nombre }})
                      </option>
                    </select>
                  </td>
                <td><button class="btn btn-warning" (click)="editarPropietario(i)">
                    <i class="bi bi-pencil-square"></i>
                </button></td>
                <td>
                    <button class="btn btn-danger" (click)="eliminarPropietario(i)">
                        <i class="bi bi-x-circle"></i>
                    </button>
                </td>
                <td *ngIf="isEditingRowProp(i)">
                    <button class="btn btn-info" (click)="guardarEdicionProp(i)">
                        <i class="bi bi-save"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>