<h1>Formulario de <span class="badge text-bg-warning --bs-warning-border-subtle fs-2">Propietarios</span></h1>
<br>
<form [formGroup]="FormularioPropietario" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" placeholder="Nombre" formControlName="Nombre">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Apellido</span>
        <input type="text" class="form-control" placeholder="Apellido" formControlName="Apellido">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">DNI</span>
        <input type="number" class="form-control" placeholder="DNI" formControlName="DNI">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Telefono</span>
        <input type="number" class="form-control" placeholder="Telefono" formControlName="Telefono">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Deuda Anual</span>
        <input type="number" class="form-control" placeholder="Deuda Anual" formControlName="DeudaAnual">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pago Mensual</span>
        <input type="number" class="form-control" placeholder="Pago Mensual" formControlName="PagoMensual">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Codigo Habitacion</span>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Opciones</label>
            <select class="form-select" id="inputGroupSelect01" formControlName="CodigoHabitacion">
                <option selected>Elija la Habitación</option>
                <option *ngFor="let habitacion of habitacionesDisponibles" [value]="habitacion.CodigoHabitacion">
                    {{ habitacion.CodigoHabitacion }}
                </option>
            </select>
        </div>
    </div>
    <br>
    <input type="submit" class="btn btn-info" value="Registrar Propietario">
</form>

<div class="apartamentos mt-4">
    <h2 class="badge text-bg-warning custom-border fs-3 mb-3">Lista de Propietarios</h2>
    <table class="table table-striped table-bordered table-hover" style="width: 100%;">
        <thead class="table-dark">
            <tr>
                <th scope="col">Código Propietario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Telefono</th>
                <th scope="col">Deuda Anual</th>
                <th scope="col">Pago Mensual</th>
                <th scope="col">Habitación</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Guardar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let propietario of propietarios; let i = index">
                <td>{{ propietario.CodigoPropietario }}</td>
                <td>{{ propietario.Nombre }}</td>
                <td>{{ propietario.Apellido }}</td>
                <td>{{ propietario.DNI }}</td>
                <td>{{ propietario.Telefono }}</td>
                <td>{{ propietario.DeudaAnual }}</td>
                <td>{{ propietario.PagoMensual }}</td>
                <td>{{ propietario.CodigoHabitacion }}</td>
                <td><button class="btn btn-warning" (click)="editarPropietario(i)">
                    <i class="bi bi-pencil-square"></i>
                </button></td>
                <td>
                    <button class="btn btn-danger" (click)="eliminarPropietario(i)">
                        <i class="bi bi-x-circle"></i>
                    </button>
                </td>
                <td *ngIf="isEditingRowProp(i)">
                    <button class="btn btn-info" (click)="guardarEdicionProp(i)">
                        <i class="bi bi-save"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>